**
!package.json
!requirements.txt
!VERSION
!planner.py
!planner-dev.py
!rollup.config.mjs
!vite.config.js
!planner_lib
!planner_lib/**
!www
!www/**
!src
!src/**
!docs
!docs/**
!docker
!docker/Dockerfile
!docker/entrypoint.sh
**/__pycache__
**/*.pyc